[KEYS]
# give your bot KEY here.
BOT_API_KEY=1176689415:AAFiEbyqKWkSrraggRrBlL0t7m93u_addsA

[OWNER]
# following two are required for the owner to clear the debts -
# otherwise, no clearing possible.
Telegram_ID=1171354752
Telegram_handle=@NGYNY

[SETTINGS]
# The currency code.
currency_code=₹
# handle invalid commands - set to True or False
invalid_handler=True
